/* input range */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%; /* required for Firefox. */
  background: transparent; /* otherwise white in Chrome */
}

input[type="range"]:focus {
  outline: none; /* remove blue border */
}

input[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  width: 100%;
  height: 2px;
  background: lightgray;
}

input[type="range"]::-moz-range-track {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  width: 100%;
  height: 2px;
  background: lightgray;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  margin-top: -5px; /* specify margin in Chrome, in Firefox and IE it is automatic */
  border-radius: 50%;
  border: none;
  width: 12px;
  height: 12px;
  background: darkgreen;
  box-shadow: 2px 2px 2px #000000, 0px 0px 2px #0d0d0d;
}

input[type="range"]::-moz-range-thumb {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 12px;
  height: 12px;
  background: darkgray;
  box-shadow: 2px 2px 2px #000000, 0px 0px 2px #0d0d0d;
}

/* loading spinner */
.spinner {
  position: absolute;
  top: 35%;
  left: 49%;
  margin: auto;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid yellow;
  width: 12px;
  height: 12px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
