:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875em; /* 14px if default font size is 16px */
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit; /* inherit border-box universally */
}

.spinner {
  position: absolute;
  top: 28%;
  left: 50%;
  margin: auto;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid yellow;
  width: 12px;
  height: 12px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
